{% if site.data.social.share.twitter or site.theme_settings.twitter
   or site.data.social.share.linkedin or site.theme_settings.linkedin %}

<div class="share-buttons">
    <ul class="share-buttons">
        <li class="meta">Share</li>
        {% if site.data.social.share.twitter or site.theme_settings.twitter %}
        <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
               target="_blank" title="{{ site.data.social.language.str_tweet }}">
                <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.data.social.language.str_tweet | default: "Tweet" }}</span>
            </a>
        </li>
        {% endif %} {% if site.data.social.share.linkedin or site.theme_settings.linkedin %}
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | strip_html | url_encode }}%20%7C%20{{ site.title | strip_html | url_encode }}&summary=&source={{ page.url | absolute_url }}"
               target="_blank" title="{{ site.data.social.language.str_share_on }} LinkedIn">
                <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.data.social.language.str_share_on | default: "Share on" }} LinkedIn</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

{% endif %}
